.App {
  text-align: center;
  background: #fff;
  height: 100vh;
}

.App-header {
  min-height: 10vh;
  width: 100%;
  display: inline-block;
  text-align: left;
  margin-left: 2em;
  font-size: calc(10px + 2vmin);
  font-family: 'Fugaz One', cursive;
}

.App-header a {
  text-decoration: none;
  color: black;
}
